<section class="container">
  <div class="profile">
    <h1>Edit Your Profile</h1>
    <div *ngIf="editForm.dirty" class="alert alert-info">
      <strong>Information:</strong> You have made changes. Any unsaved changes will be lost!
    </div>
    <div class="profile-header">
      <div>
        <img class="profile-img" src="{{user.photoUrl}}" />
      </div>
      <table class="profheadcont">
        <thead class="profthead">
          <tr class="proftoptr">
            <th class="username">{{user.KnownAs}}</th>
            <th class="editbutton" [routerLink]="['/users', userId]"><button>Back to Profile</button></th>
          </tr>
        </thead>
        <tbody class="profinfo">
          <tr class="profmidtr">
            <td>627 posts</td>
            <td>133 followers</td>
            <td>405 following</td>
          </tr>
          <tr class="profnametr">
            <td>{{user.username}}</td>
            <td>{{user.city}}, {{user.country}}</td>
          </tr>
        </tbody>
      </table>
      <div class="profbiodiv">
        <p>{{user.bio}}</p>
      </div>      
    </div>
  </div>
  <div class="hr2">
    <hr />
  </div>
  <div class="col-sm-8">
    <div class="card-footer">
      <button [disabled]="!editForm.dirty" form="editForm" class="btn btn-success btn-block">Save Changes</button>
    </div>
    <form #editForm="ngForm" id="editForm" (ngSubmit)="updateUser()">
      <h4>Bio</h4>
      <textarea name="bio" rows="6" class="form-control"
                [(ngModel)]="user.bio"></textarea>
      <h4>Location Details:</h4>
      <div class="form-inline">
        <label for="city">City</label>
        <input class="form-control" type="text" name="city" [(ngModel)]="user.city" />
        <label for="country">Country</label>
        <input class="form-control" type="text" name="country" [(ngModel)]="user.country" />
      </div>
    </form>
    <div class="tab-panel">
      <tabset class="member-tabset">        
        <tab>
          <app-photo-editor [photos]="user.photos"
                            (getMemberPhotoChange)="updateProfilePhoto($event)"></app-photo-editor>
        </tab>
      </tabset>
    </div>
  </div>





  <!--<div class="photodiv">
    <table class="phototb">
      <tbody>
        <tr class="phototr" *ngFor="let element of userImages">
          <td><img [src]="element.medium" /></td>
        </tr>
      </tbody>
    </table>
  </div>-->
  <!--<div class="container-fluid">
      <div class="row">
          <div class="col-md-4">
              <img src="/img/ph01.png" />
          </div>
          <div class="col-md-4">
              <img src="/img/ph02.png" />
          </div>
          <div class="col-md-4">
              <img src="/img/ph03.png" />
          </div>
      </div>
  </div>-->
</section>

