
<form #loginForm="ngForm" (ngSubmit)="login()">
  <h2 class="text-center text-primary">Log In</h2>
  <hr>
  <div class="form-group">
    <input type="text" class="form-control" name="username" placeholder="Username" required [(ngModel)]="model.username">
  </div>

  <div class="form-group">
    <input class="form-control" type="password" name="password" placeholder="Password" required [(ngModel)]="model.password">
  </div>
  <div class="form-group text-center">   
    <button [disabled]="!loginForm.valid" class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
  </div>

</form>
