<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="row">

        <div class="mx-auto">
          <div *ngIf="loggedIn()">
            <h1>InstaPhotoNet</h1>
            <app-photo-list></app-photo-list>
          </div>
          <div *ngIf="!loggedIn()">
            <div class="card">
              <div *ngIf="registerMode" class="container">
                <div class="row justify-content-center">
                  <div class="col-4">
                    <app-register> </app-register>
                  </div>
                </div>
                <p class="lead"> Have an account? </p>
                <div class="test-center">
                  <button class="btn btn-outline-secondary" (click)="loginToggle()">Login</button>
                </div>
              </div>              
              <div *ngIf="!registerMode" style="text-align: center">                
                <div class="row justify-content-center">
                  <div class="col-4">
                    <app-login> </app-login>
                  </div>
                </div>
                <p class="lead"> Don't have an account? </p>
                <div class="test-center">
                  <button class="btn btn-secondary" (click)="registerToggle()">Sign up</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
