

<div class="container">
  <header>   
    <a [routerLink]="['/home']"><i class="fa fa-home" aria-hidden="true"></i></a>
    <a [routerLink]="['/users']"><i class="fa fa-search" aria-hidden="true"></i></a>
    <a href="likes.html"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
    <!--<div class="dropdown show">-->
      <a class="nav-link dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <i class="fa fa-user-o" ></i>
        </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" [routerLink]="['/users', userId]">My Profile</a>
        <a class="dropdown-item" [routerLink]="['/user/edit']">Edit Profile</a>
      </div>
       

    <!--<a [routerLink]="['/users', userId]"><i class="fa fa-user-o" aria-hidden="true"></i></a>
    <a [routerLink]="['/user/edit']"><i class="fa fa-cog" aria-hidden="true"></i></a>-->
  </header>
</div>



<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/home']"><i class="fa fa-home" aria-hidden="true"></i> </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/users']"><i class="fa fa-search" aria-hidden="true"></i> </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="likes.html"><i class="fa fa-heart-o" aria-hidden="true"></i> </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/users', userId]">Action</a>
          <a class="dropdown-item" [routerLink]="['/user/edit']">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>      
    </ul>    
  </div>
</nav>-->
  








